@charset "UTF-8";

.div_background {
	background-color: rgb(136, 185, 224);
}

.title {
	font-size: 30px;
	font-weight: bold;
	color: white;
}

.lab_follow_panda {
	font-size: 15px;
	color: white;
}

.img_panda {
	position: absolute;
	left: 20px;
	right: 0;
	top: 22%;
	margin-left: auto;
	margin-right: auto;
}

.img_clouds {
	
}

.lab_play_panda {
	font-size: 40px;
	font-weight: bold;
	color: white;
}

.z-textbox {
	font-size: 20px;
	background-color: #ffffaa;
	background: rgb(136, 185, 224);
	border-style: none;
	color: rgb(184, 217, 243);
	border: none;
}